*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*esses 3 fazem com que não tenha nenhuma borda*/

}

body{
    background-color: #192E30;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
    /*para linkar uma imagem ou pasta que não está na pasta do css, voce coloca (../) como se fosse voltar pastas no cmd*/
}

form{
    display: flex;
    flex-direction: column;
    /*o elemento flex-direction alinha os elementos em coluna*/
    gap: 10px;
    background-color: #C54345;
    padding: 30px;
    border-radius: 30px;
    
    /*padding é o espaçamento interno*/


    
    /*Para colocar Imagem no Fundo:
    background-image: url("aqui vai a imagem baixada, ja estando na maquina");
    background-repeat: no-repeat;
    background-size: contain;
    */
}


.inter-uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 655;
  font-style: normal;
}

label{
    font-family: "Inter";
    font-size: 655;
    width: 3920;
    height: 3376;
    color: white;
}

input{
    width: 100%;
    height: 60px;
    background-color: #D9D9D9;
    font-size: 25px;
    padding: 5px;
    border-radius: 20px;
    
}

button {
    background-color: #D9D9D9;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    gap: 15px;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
    text-align: center;
}

.container{
    
}

.meu-botao{
    display: inline;
    display: inline-block;
}

.meus-botoes{
    display: flex;
}

