*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*esses 3 fazem com que não tenha nenhuma borda*/

}

.inter-uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
}

.alumni-sans-inline-one-regular {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .alumni-sans-inline-one-regular-italic {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

img{
    height: 291px;
    width: 291px;
}

/* o display-flex arruma os abjetos um do lado do outro*/
.container{
    display: flex;
    margin-left: 30%;
    gap: 50px;
    align-items: center;
    height: 100vh;
}

body{
    background-color: #192E30;
}


form{
    display: flex;
    flex-direction: column;
    /*o flex-direction: column faz com que os objetos fiquem um abaixo do outro*/
    background-color: rgba(197, 67, 69, 1);
    padding: 20px;
    border-radius: 20px;
    gap: 5px;
}

label{
    font-family: "Inter";
    font-size: 655;
    font-size: 18px;
    color: white;
}

input{
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}

button{
    background-color: rgba(217, 217, 217, 1);
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    width: 200px;
    height: 40px;
}

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-family: "Alumni Sans Inline One", sans-serif;
    font-size: 30px;
}

