*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #192E30;
}
.fa-solid{
    font-size: 40px;
    padding-left: 10px;

}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #C54345;
}

#homee {
    display: flex;
    flex-direction: column;
}

.nav-link-active{
    text-decoration: none;
    color: black;
    font-size: 30px;
}


.bg-body-tertiary{
    background-color: #C54345 !important;
 }

 
.inter-uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 655;
    font-style: normal;
}

a{
    font-family: "Alumni Sans Inline One", sans-serif;
}

.alumni-sans-inline-one-regular {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .alumni-sans-inline-one-regular-italic {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.nav-link{
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #C54345;
    border-radius: 25px;
    padding: 40px;
}

form{
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-size: 80px;
}

.texto-inicio{
    text-align: center;
    font-family: "Alumni Sans Inline One", sans-serif;
    color: white;
    font-size: 60px;
}



label{
    font-family: "Inter";
    font-size: 655;
    width: 3920;
    height: 3376;
    color: white;
    font-size: 30px;
}

input :nth-of-type(radio){
    font-size: 40px;
}


/* CAIXAS DE TEXTO */
input{
   
    height: 60px;
    background-color: #D9D9D9;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
    
}

.radio {
    box-shadow: none;
}

#ajuste {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#descricao{
    font-size: 15px;
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 20px;
}

button{
    font-size: 20px;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 5vh;
    
}

li{
    float: left;
    font-family: "Alumni Sans Inline One", sans-serif;
    font-size: 30px;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Alumni Sans Inline One", sans-serif;;
}

li a:hover{
    font-family: "Alumni Sans Inline One", sans-serif;;
}

.menu{
    display: flex;
    list-style: none;
    background-color: #C54345;
}

.linha1{
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;
}