*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*São as 3 bordas da página*/
}


.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #192E30;
    height: 95vh;
    width: 100vw;
}

h1, h2, p {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-size: 40px;
    text-align: center;
}

.titulo{
    text-align: center;
    font-family: "Alumni Sans Inline One", sans-serif;
    color: white
}

input[type='radio'] {
    border: 0px;
    margin: 0;
    width: 20px;
    height: 5em;
    padding: 0;
    box-sizing: border-box;
  }

.botoes{
    justify-content: flex-start;
    size-adjust: 40px;
}

.container{
    align-content: center;
    align-items: center;
    font-size: 30px;
    border-top: 0%;

}

.alumni-sans-inline-one-regular {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .alumni-sans-inline-one-regular-italic {
    font-family: "Alumni Sans Inline One", sans-serif;
    font-weight: 400;
    font-style: italic;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 5vh;
    
}

li{
    float: left;
    font-family: "Alumni Sans Inline One", sans-serif;
    font-size: 30px;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Alumni Sans Inline One", sans-serif;;
}

li a:hover{
    font-family: "Alumni Sans Inline One", sans-serif;;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: #C54345;

}
.menu_direita{
    display: flex;
    flex-direction: row;
}

.linha1{
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;
}

img{
    height: 20px;
    width: 20x;
}